{% extends "layout.html" %}

{% block title %}Etheo Insurance Register{% endblock %}

{% block main %}
<div class="container text-center">
    <section id="intro">
        <div class="row align-items-start">
            <div class="col">
            
                    <h1 class="display-5 fw-bold text-center mb-4">Welcome to <strong>Etheo Insurance</strong></h1>
                    <h2>...where we're dedicated to <em>Evening The Odds</em> in your favor.</h2>
            </div>
        </div>
        <div class="row align-items-start mt-5">
            <div class="col-12">
                    <p class="lead">In a world full of uncertainties, Etheo stands as your steadfast ally, offering comprehensive insurance solutions designed to provide peace of mind and security for you, your loved ones, and your most cherished possessions.</p>
            </div>
            <div class="col-6 mx-auto">
                    <p>At Etheo, we understand that every individual's needs are unique, which is why we offer personalized insurance coverage spanning from health and life insurance to auto, home, and travel insurance. Our mission is not just to be there for you in times of need but to empower you to live your life to the fullest, free from worry about the 'what-ifs.'</p>

                    <p>Our team of experienced professionals is committed to delivering exceptional service and support, ensuring that you feel understood, valued, and, most importantly, protected. We leverage the latest in technology to make managing your policies simple and hassle-free, with 24/7 access to your account and claims filing.</p>
            </div>
        </div>
        <div class="row align-items-start mt-5">
            <div class="col">
                    <h2 class="fw-bold my-4">Join the Etheo family today</h2>
                    <p class="mb-0">and experience the confidence that comes from knowing you're covered, no matter what life throws your way. Because at Etheo, we don't just insure; we ensure that you're ready to face the future with optimism and peace of mind.</p>
            </div>
        </div>
    </section>
</div>

{% endblock %}